{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@public": "./public",
          "@components": "./src/components",
          "~": "./src"
        }
      }
    ]
  ]
}
